* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    min-width: 100vw;
    width: auto !important;
    margin: 0 auto;
    /*    max-width: 1140px;*/
    background-color: #FCFCFC;

}

/* HEADER BEGINS */

#indexheader {
    background-image: url(img/landscape-vineyard-edited.jpg);
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) *100);
    width: 100%;
}

#logo {
    position: absolute;
    top: 0;
    padding: 1.7em 1.5em;
    width: 2.6em;
    z-index: 2;
}

/* BURGER MENU BEGINS */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.7em;
    height: 15vh;
    display: flex;
    align-items: center;
    z-index: 2;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.9em;
    border-radius: 10px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

/* BURGER MENU ENDS */

/* HEADER ENDS*/

/* INDEX PAGE BEGINS */

#indexTitle {
    font-family: "La Belle Aurore", serif;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 22rem;
    left: 1rem;
}

#indexSubtitle {
    font-family: "Roboto Condensed", serif;
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 26rem;
    left: 12.5rem;
}

#scrollwrap {
    bottom: 0;
    margin: 0 auto .5em auto;
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
    animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

.scrollbutton {
    width: 1em;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.indexMain {
    /* THIS IS THE GRID FOR THE INDEX PAGE */
    display: grid;
    grid-template-columns: 1fr;
}

.article-box {
    display: block;
    text-align: center;
    padding: 10px;
    min-height: 250px;
}


.article-box h1 {
    font-family: "La Belle Aurore", serif;
    font-size: 1.8rem;
    margin-top: 10px;
    color: #313029;
}

.article-box .index-article {
    font-family: "Cormorant Garamond", sans-serif;
    padding: 5% 0;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #313029;
}

hr {
    /* CREATES THE UNDERLINE FOR THE HEADERS */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #567947;
    margin: 0 auto;
    width: 20%;
}


.placeholder {
    /* IMAGES ON THE INDEX PAGE */
    max-width: 100%;
    object-fit: contain;
    text-align: center;
}

.five {
    background-color: #F5F7F2;
    height: 100%;
    text-align: center;
}

.five .quote {
    font-family: "La Belle Aurore", serif;
    font-size: 1.6rem;
    padding: 10% 20px;
    color: #313029;
}

/* INDEX PAGE ENDS HERE */

/* WINE PAGE BEGINS HERE*/

#wineheader {
    height: 30vh;
    height: calc(var(--vh, 1vh) *30);
    background-image: url(img/about-me-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#winetitle {
    font-family: "La Belle Aurore", serif;
    font-size: 2.2rem;
    color: white;
    position: absolute;
    top: 8rem;
    left: 5rem;
}

#winesubtitle {
    font-family: "Roboto Condensed", serif;
    font-size: .8rem;
    color: white;
    position: absolute;
    top: 7.7rem;
    left: 3.5rem;
}

.wineCountry {
    font-family: "La Belle Aurore", serif;
    font-size: 2.4rem;
    color: #313029;
    width: 70%;
    margin: 20px auto 0 auto;
    text-align: center;
}

#winegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    width: 70%;
    margin: 0 auto;
}


article {
    width: 100%;
}

article .wineImage {
    width: 50%;
    margin: 0 auto;
    display: block;
}


article .name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 5px;
}

.modalname {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 5px;
}

.modalwineimg {
    display: none;
}

article .wineHouse {
    font-family: 'Roboto Slab', serif;
    font-size: .9em;
    font-weight: 100;
    margin-top: 4px;
}

.modalhouse {
    font-family: 'Roboto Slab', serif;
    font-size: .9em;
    font-weight: 100;
    margin-top: 4px;
}

article .area {
    font-family: 'Roboto Slab', serif;
    font-size: .9rem;
    font-weight: 100;
}

.modalarea {
    font-family: 'Roboto Slab', serif;
    font-size: .9rem;
    font-weight: 100;
}

.modaldescription {
    font-family: "Cormorant Garamond", sans-serif;
    padding: 1rem 0 0 0;
    font-size: 1em;
    line-height: 1.6rem;
}

article .rating {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    margin: 10px 0 5px 0;
}

.modalrating {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    margin: 10px 0 5px 0;
}

.specs {
    padding-top: 1rem;
}

.inlineblock {
    display: inline-block;
}

article .ratingImage {
    width: 30%;
}

.modalratingimg {
    width: 6rem;
}

.specs p {
    font-family: "Roboto Condensed", serif;
    font-style: normal;
    font-weight: 100;
}


/*MODAL BEGINS HERE*/

/*background modal*/
.modal {
    display: none;
    /* hidden to start */
    position: fixed;
    z-index: 1;
    /* on top of z-ax */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /*Fallback color*/
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modalcontent {
    background-color: #fefefe;
    margin: 20vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70vw;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: .5rem 1rem;
    margin: -1rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*MODAL ENDS HERE */


/* WINE PAGE ENDS HERE*/

/* ABOUT PAGE STARTS HERE */

#aboutheader {
    background-image: url(img/about-me-bg.png);
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) *100);
    width: 100%;
}

.about-me-box {
    display: block;
    position: absolute;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    top: 13rem;
    left: 2.3rem
}

.about-me-box h1 {
    font-family: "La Belle Aurore", serif;
    font-size: 1.8rem;
    color: #313029;
}

.about-me-box p {
    font-family: "Cormorant Garamond", sans-serif;
    padding: 5% 5%;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #313029;
}


/* ABOUT PAGE ENDS HERE */

/* FOOTER BEGINS HERE*/

footer {
    height: 8vh;
    text-align: center;
    padding: 15px 20px;
}

.footer_1p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1rem;
    color: #313029;
}

.footer_2p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: .9rem;
    color: #313029;
    margin-top: 10px;
}

/* FOOTER ENDS HERE*/

/* TABLET VIEW */
@media only screen and (min-width: 600px) {

    #logo {
        width: 3em;
    }


    /* TABLET NAVIGATION STARTS HERE */

    .nav-toggle-label {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        height: 110px;
        padding-left: 6rem
    }

    nav ul li {}


    nav a {
        font-family: "La Belle Aurore", serif;
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        line-height: 110px;
        padding: 0 .7em;
    }

    .vertical-line {
        border-left: 2px white solid;
    }

    /* TABLET NAVIGATION ENDS HERE */

    /* TABLET INDEX STARTS HERE */

    #indexTitle {
        font-size: 4rem;
        position: absolute;
        top: 33rem;
        left: 3rem;
    }

    #indexSubtitle {
        font-size: 1.1rem;
        position: absolute;
        top: 38.5rem;
        left: 24rem;
    }

    #scrollwrap {
        margin: 0 auto .7em auto;
    }

    .scrollbutton {
        width: 1.3em;
    }

    .article-box .index-article {
        padding: 3% 10%;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .five .quote {
        font-size: 2rem;
        padding: 10% 20px;
        color: #313029;
    }

    /* TABLET INDEX ENDS HERE */

    /* TABLET WINE PAGE BEGINS HERE*/

    #winetitle {
        font-size: 2.7rem;
        position: absolute;
        top: 7.3rem;
        left: 10.5rem;
    }

    #winesubtitle {
        font-size: .9rem;
        position: absolute;
        top: 7rem;
        left: 8rem;
    }

    .wineCountry {
        font-size: 2.5rem;
        width: 80%;
        margin: 20px auto 0 auto;
        text-align: left;
    }

    #winegrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        grid-row-gap: 0;
        grid-auto-rows: minmax(100px, auto);
        width: 90%;
        margin: 0 auto;
    }


    article {
        width: 100%;
        padding: 20px;
    }

    article .wineImage {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    article .name {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .modalcontent {
        /*        width: 50%;*/
        width: 60vw;
        max-width: 480px;

    }

    .modalname {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .modalwineimg {
        display: block;
        float: right;
        height: 14rem;
    }

    article .wineHouse {
        font-size: .9em;
        margin-top: 4px;
    }



    .modalhouse {
        font-size: .9em;
        margin-top: 4px;
    }

    article .area {
        font-size: .9rem;
    }

    .modalarea {
        font-size: .9rem;
    }

    .modaldescription {
        font-size: .9rem;
    }

    article .rating {
        font-size: 2rem;
        margin: 10px 0 5px 0;
    }

    .modalrating {
        font-size: 2rem;
        margin: 10px 0 5px 0;
    }

    article .ratingImage {
        width: 40%;
    }

    .modalratingimg {
        /*        width: 40%;*/
    }



    .specs {
        float: right;
        margin: -3.5rem 0 0 5rem;
    }


    /* TABLET WINE PAGE ENDS HERE*/

    /* TABLET ABOUT PAGE STARTS HERE */

    .about-me-box {
        width: 70%;
        top: 13rem;
        left: 7rem
    }

    .about-me-box h1 {
        font-size: 2.3rem;
    }

    .about-me-box p {
        padding: 3% 5% 5% 5%;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }


    /* TABLET ABOUT PAGE ENDS HERE */

    /* TABLET FOOTER STARTS HERE */

    footer {
        height: 5vh;
        text-align: right;
        padding: 20px 25px;
    }

    .footer_1p {
        font-size: 1.1rem;
    }

    .footer_2p {
        font-size: 1rem;
        margin-top: 5px;
    }

    /* TABLET FOOTER ENDS HERE */
}


/* DESKTOP VIEW */
@media only screen and (min-width: 1300px) {

    /* DESKTOP INDEX STARTS HERE */

    .indexMain {
        /* THIS IS THE GRID FOR THE INDEX PAGE */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    #indexTitle {
        font-size: 6rem;
        position: absolute;
        top: 35rem;
        left: 9rem;
    }

    #indexSubtitle {
        font-size: 1.6rem;
        position: absolute;
        top: 43rem;
        left: 38rem;
    }

    #scrollwrap {
        margin: 0 auto 1em auto;
    }

    .scrollbutton {
        width: 1.4em;
    }

    .article-box {
        text-align: left;
    }


    .article-box h1 {
        font-family: "La Belle Aurore", serif;
        font-size: 2.6rem;
        margin: 0;
    }

    .article-box .index-article {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 5% 2rem 5% 0;
    }

    hr {
        /* CREATES THE UNDERLINE FOR THE HEADERS */
        margin: 0;
    }

    .one {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        padding-left: 5%;
    }

    .two {
        grid-column: 2;
        grid-row: 1;
    }

    .three {
        grid-column: 1;
        grid-row: 2;
    }

    .four {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        padding-left: 5%;
    }

    .five {
        grid-column: 1 / 3;
        grid-row: 3;
        text-align: center;
        background-color: #F5F7F2;
    }

    .five .quote {
        font-size: 3rem;
    }

    .six {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        padding-left: 5%;
    }

    .seven {
        grid-column: 2;
        grid-row: 4;
    }

    .placeholder {
        /* IMAGES ON THE INDEX PAGE */
        max-width: 100%;
        object-fit: contain;
    }

    /* DESKTOP INDEX ENDS HERE */

    /* DESKTOP WINE PAGE BEGINS HERE*/

    #winetitle {
        font-size: 4rem;
        position: absolute;
        top: 8.5rem;
        left: 38rem;
    }

    #winesubtitle {
        font-size: 1em;
        position: absolute;
        top: 8rem;
        left: 33rem;
    }

    .wineCountry {
        font-size: 3.6rem;
        width: 80%;
    }

    #winegrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        grid-auto-rows: minmax(100px, auto);
        width: 85%;
        margin: 0px auto;
    }


    article {
        width: 80%;
        padding: 30px;
    }

    article .wineImage {
        width: 50%;
        margin: 0 auto 20px auto;
        display: block;
    }

    article .name {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 5px;
    }

    .modalcontent {
        width: 40vw;
        height: inherit;
        max-height: 350px;
        padding-left: 2em;
        max-width: 1000px;
    }

    .modalname {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 1rem;
    }

    article .wineHouse {
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 4px;
    }


    .modalhouse {
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 4px;
    }

    article .area {
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 1px;
    }

    .modalarea {
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 1px;
    }

    .modaldescription {
        font-size: 1.0rem;
        width: 70%;
        line-height: 2em;
        margin-bottom: 3em;
    }

    article .rating {
        font-size: 2rem;
        margin: 40px 0 5px 0;
    }

    .modalrating {
        font-size: 2rem;
        margin: 40px 0 5px 0;
    }

    article .ratingImage {
        width: 30%;
    }

    .modalwineimg {
        height: 90%;
    }

    /* DESKTOP WINE PAGE ENDS HERE*/

    /* DESKTOP ABOUT ME PAGE STARTS HERE */

    .about-me-box {
        width: 50%;
        top: 15rem;
        left: 26rem
    }

    .about-me-box hr {
        margin: 0 auto;
    }

    .about-me-box h1 {
        font-size: 2.6rem;
        padding-top: 10px;
    }

    .about-me-box p {
        padding: 3% 10% 5% 10%;
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    /* DESKTOP ABOUT ME PAGE ENDS HERE */

    /* DESKTOP FOOTER STARTS HERE */

    footer {
        height: 7vh;
        text-align: right;
        padding: 30px 20px;
    }

    .footer_1p {
        font-size: 1.2rem;
    }

    .footer_2p {
        font-size: 1rem;
        margin-top: 18px;
    }

    /* DESKTOP FOOTER ENDS HERE */
}


@media only screen and (max-width: 600px) {
    nav {
        display: inline-block;
        position: absolute;
        top: 0rem;
        right: 0rem;
        background: rgba(173, 196, 204, 0.95);
        width: 100%;
        height: 100vh;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 500ms ease-in-out;
        z-index: 1;
        overflow-y: auto;
        position: fixed;
    }

    nav ul {
        list-style: none;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav li {
        margin: 1.7rem 0;
    }

    nav a {
        font-family: "La Belle Aurore", serif;
        color: white;
        text-decoration: none;
        font-size: 2.7rem;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 400ms;
    }

}

.wineWrapper {
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;
    background-image: url(img/button/read_more.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.wineWrapper:hover {
    background-color: #CCD5BF;
    transition: .5s ease;
    backface-visibility: hidden;
}

.wineWrapper:hover .opacity {
    opacity: 0.3;
    transition: .5s ease;
}





#main {
    opacity: 1;
    animation: fadein 2s ease;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

*/ */
